<div>
  <div class="color-scheme">
    <div class="color-element dark-primary-color">
      <div class="color-description">
        <div class="hex-color"><span>#cc4300</span></div>
        <span class="color-name">Dark Primary Color</span>
      </div>
    </div>
    <div class="color-element light-primary-color">
      <div class="color-description">
        <div class="hex-color"><span>#FF5400</span></div>
        <span class="color-name">Light Primary Color</span>
      </div>
    </div>
  </div>
  <div class="color-scheme">
    <div class="color-element dark-secondary-color">
      <div class="color-description">
        <div class="hex-color"><span>#007f6c</span></div>
        <span class="color-name">Dark Secondary Color</span>
      </div>
    </div>
    <div class="color-element light-secondary-color">
      <div class="color-description">
        <div class="hex-color"><span>#00C3A5</span></div>
        <span class="color-name">Light Secondary Color</span>
      </div>
    </div>
  </div>
  <div class="color-scheme">
    <div class="color-element dark-text-color">
      <div class="color-description">
        <div class="hex-color"><span>#767676</span></div>
        <span class="color-name">Dark Text Color</span>
      </div>
    </div>
    <div class="color-element light-text-color">
      <div class="color-description">
        <div class="hex-color"><span>#878787</span></div>
        <span class="color-name">Light Text Color</span>
      </div>
    </div>
  </div>
  <div class="color-scheme">
    <div class="color-element divider-color">
      <div class="color-description">
        <div class="hex-color"><span>#C8C8C8</span></div>
        <span class="color-name">Divider Color</span>
      </div>
    </div>
    <div class="color-element light-background-color">
      <div class="color-description-white">
        <div class="hex-color-white"><span>#FFFFFF</span></div>
        <span class="color-name">Background/Text Color</span>
      </div>
    </div>
  </div>
</div>
