.list-item-desktop {
  width: 1100px;
  border: 1px solid #C8C8C8;
  border-radius: 3px;
  color: #404241;
  margin-bottom: 10px;
  font-family: "scandia-web", sans-serif;
  padding: 10px;
}

.image-column {
  width: 14%;
  height: 150px;
  display: table-cell;
  vertical-align: top;
}

.venue-image {
  background-color: #767676;
  width: 170px;
  height: 130px;
  font-size: 24px;
  display: table-cell;
  vertical-align: middle;
  color: #c8c8c8;
  float: left
}

.bottom-venue-image {
  float: left;
  height: 100px !important;
  font-weight: bold;
  text-align: center;
  margin-right: 7px
}

.first-column {
  width: 680px;
  text-align: left;
  font-weight: normal;
  float: left
}

.first-column-with-image {
  width: 560px;
  text-align: left;
  font-weight: normal;
  float: left;
  padding-left: 10px;
}

.second-column {
  font-weight: normal
}

.second-column-with-image {
  width: 160px;
  float:left;
  font-weight: normal;
  text-align: center;
}

.second-column-with-image-and-button {
  width: 100px;
  float:left;
  font-weight: normal;
  text-align: center;
}

.fourth-column {
  width: 20%;
  font-weight: normal;
}

.venue-title-desktop {
  font-size: 18px;
  font-weight: bold;
}

.venue-description-desktop-with-spacing {
  font-size: 16px;
  letter-spacing: 0.2px;
}

.venue-description-desktop {
  font-size: 16px;
}

.venue-icon {
  height: 13px;
}

.venue-contactinfo-desktop {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 18px;
}

.venue-arrow-icon {
  height: 10px;
}

.list-item-tablet {
  width: 700px;
  color: #404241;
  font-family: "scandia-web", sans-serif;
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 20px
}

.comparable-parameter-tablet {
  float: left;
  padding-right: 20px;
  padding-top: 20px

}

.venue-image-tablet {
  float: left;
  background-color: #767676;
  width: 170px;
  height: 130px;
  font-size: 24px;
  display: table-cell;
  vertical-align: middle;
  color: #c8c8c8;
}

.venue-image-desktop1 {
  float: left;
  background-color: #767676;
  width: 200px;
  height: 150px;
}

.venue-info-with-image-tablet {
  float: left;
  width: 520px;
  margin-left: 10px
}

.venue-info-with-image-desktop {
  float: left;
  width: 540px;
  margin-left: 10px
}


.list-item-mobile {
  width: 300px;
  color: #404241;
  font-family: "scandia-web", sans-serif;
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 20px;
}

.venue-tab-mobile {
  line-height: 35px;
  font-size: 18px;
}

.venue-image-mobile {
  float: left;
  background-color: #767676;
  width: 100%;
  height: 150px;
  font-size: 24px;
  display: table-cell;
  vertical-align: middle;
  color: #c8c8c8;
  margin: 7px 0px
}

.mobile-button {
  height: 35px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  width: 125px;
  font-size: 16px !important;
}
