.list-item-desktop {
  width: 1100px;
  border: 1px solid #C8C8C8;
  border-radius: 3px;
  color: #404241;
  margin-bottom: 10px;
  font-family: "scandia-web", sans-serif;
  padding: 10px;
}

.image-column {
  width: 14%;
  height: 150px;
  display: table-cell;
  vertical-align: top;
}

.venue-image {
  background-color: #767676;
  width: 150px;
  height: 150px;
  font-size: 24px;
  display: table-cell;
  vertical-align: middle;
  color: #c8c8c8;
}

.bottom-venue-image {
  float: left;
  height: 100px !important;
  font-weight: bold;
  text-align: center;
  margin-right: 7px
}

.first-column {
  width: 50%;
  text-align: left;
  font-weight: normal
}

.first-column-with-image {
  width: 45%;
  text-align: left;
  font-weight: normal;
}

.second-column {
  font-weight: normal
}

.second-column-with-image {
  width: 12%;
  font-weight: normal
}

.fourth-column {
  width: 20%;
  font-weight: normal;
}

.venue-title-desktop {
  font-size: 18px;
  font-weight: bold;
}

.venue-description-desktop-with-spacing {
  font-size: 16px;
  letter-spacing: 0.2px;
}

.venue-description-desktop {
  font-size: 16px;
}

.venue-icon {
  height: 13px;
}

.venue-contactinfo-desktop {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 18px;
}

.venue-arrow-icon {
  height: 15px;
}
