<table class="list-item-desktop">
  <tr>
    <th class="image-column" style="width: 16%">
      <div class="venue-image" styles="display:inline">
      150 x 150</div>
    </th>
    <th class="first-column-with-image">
      <div class="title2">Venue List Item</div>
      <div class="body-text-regular" style="padding: 7px 0px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent congue augue dolor, sit amet condimentum nisla tesla wadap tesla corhu wesd.</div>
      <div class="venue-contactinfo-desktop">
        <img src="location.svg" class="venue-icon"></img>
        Postikatu 4, 00340 Hyvinkää
      </div>
      <div class="venue-contactinfo-desktop">
        <img src="clock.svg" class="venue-icon"></img>
        Ma-pe 8-16, la 10-14, su suljettu
      </div>
      <div class="venue-contactinfo-desktop">
        <img src="call.svg" class="venue-icon"></img>
        +358 42 123 4567
        <img src="earth-green.svg" class="venue-icon"></img>
        <span style="color: #007f6c">Verkkosivut</span>
      </div>
    </th>
    <th class="second-column-with-image">
      <div class="title1">
        21
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
    </th>
    <th class="second-column-with-image">
      <div class="title1">
        89
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
    </th>
    <th class="second-column-with-image">
      <div class="title1">
        98.7
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
    </th>
    <th class="fourth-column">
      <button class="button primary-button">Valitse</button>
    </th>
  </tr>
</table>

<table class="list-item-desktop">
  <tr>
    <th class="first-column">
      <div class="title2">Venue List Item</div>
      <div class="body-text-regular" style="padding: 7px 0px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent congue augue dolor, sit amet condimentum nisla tesla wadap tesla corhu wesd.</div>
      <div class="venue-image bottom-venue-image">
        <span style="padding-top:65px; vertical-align: middle">150 x 150</span>
      </div>
      <div class="venue-contactinfo-desktop">
        <img src="location.svg" class="venue-icon"></img>
        Postikatu 4, 00340 Hyvinkää
      </div>
      <div class="venue-contactinfo-desktop">
        <img src="clock.svg" class="venue-icon"></img>
        Ma-pe 8-16, la 10-14, su suljettu
      </div>
      <div class="venue-contactinfo-desktop">
        <img src="call.svg" class="venue-icon"></img>
        +358 42 123 4567
      </div>
      <div class="venue-contactinfo-desktop">
        <img src="earth-green.svg" class="venue-icon"></img>
        <span style="color: #007f6c">Verkkosivut</span>
      </div>
    </th>
    <th class="second-column-with-image">
      <div class="title1">
        21
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
    </th>
    <th class="second-column-with-image">
      <div class="title1">
        89
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
    </th>
    <th class="second-column-with-image">
      <div class="title1">
        98.7
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
    </th>
    <th class="fourth-column">
      <button class="button primary-button">Valitse</button>
    </th>
  </tr>
</table>
