<div class="list-item-desktop" style="float:left">
  <div style="width:100%; float: left">
      <div class="venue-image"></div>
    <div class="first-column-with-image" style="width: 440px">
      <div class="title2">Venue List Item</div>
      <div class="body-text-regular" style="padding: 7px 0px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent congue augue dolor, sit amet condimentum nisla tesla wadap... <span class="clickable-text" style="letter-spacing: 0.03em">show more</span></div>
        <div class="title1-green" style="float: left; margin-top: 5px">
          <img src="edit.svg" style="height: 15px"></img>
          Write a review
        </div>
    </div>
    <div class="second-column-with-image-and-button">
      <div class="title1" style="padding-top: 70px">
        18
      </div>
    </div>
    <div class="second-column-with-image-and-button">
      <div class="title1" style="padding-top: 70px">
        92.3
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
    </div>
    <div class="second-column-with-image-and-button">
      <div class="title1" style="padding-top: 70px">
        95.8
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
    </div>
    <button class="button primary-button" style="margin-top: 60px; margin-left: 10px">Select</button>
</div>
<div style="width:100%; float: left">
<div class="title1" style="float: left; padding-right: 20px; padding-top: 15px; padding-bottom: 5px; font-size: 16px">
  Yhteystiedot
  <img src="down-arrow.svg" class="venue-arrow-icon"></img>
</div>
</div>
</div>

<div class="list-item-desktop" style="float:left">
  <div style="width:100%; float: left">
      <div class="venue-image"></div>
    <div class="first-column-with-image" style="width: 440px">
      <div class="title2">Venue List Item</div>
      <div class="body-text-regular" style="padding: 7px 0px">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Praesent congue augue dolor, sit amet condimentum nisl
        condimentum sit amet. Pellentesque a iaculis quam, vitae lacinia diam. Ut ac maximus
        eros. Mauris dui ligula, auctor non mi at, lobortis euismod nibh. Fusce dui ex,
        vulputate sit amet aliquam in, sollicitudin eu diam. Integer pretium sed.</div>
        <div class="title1-green" style="float: left; margin-top: 5px">
          <img src="edit.svg" style="height: 15px"></img>
          Write a review
        </div>
    </div>
    <div class="second-column-with-image-and-button">
      <div class="title1" style="padding-top: 70px">
        18
      </div>
    </div>
    <div class="second-column-with-image-and-button">
      <div class="title1" style="padding-top: 70px">
        92.3
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
    </div>
    <div class="second-column-with-image-and-button">
      <div class="title1" style="padding-top: 70px">
        95.8
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
    </div>
    <button class="button primary-button" style="margin-top: 60px; margin-left: 10px">Select</button>
</div>
<div style="width:100%; float: left">
<div class="title1" style="float: left; padding-right: 20px; padding-top: 15px; padding-bottom: 5px; font-size: 16px">
  Yhteystiedot
  <img src="down-arrow.svg" class="venue-arrow-icon"></img>
</div>
</div>
</div>
