<div class="list-item-tablet" style="padding-bottom: 230px">
  <div style="float:left">
      <div class="venue-image-tablet"></div>
      <div class="venue-info-with-image-tablet">
        <div class="title2">Venue List Item</div>
        <div class="body-text-regular" style="padding: 7px 0px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent congue augue dolor, sit amet condimentum nisla tesla wadap... <span class="clickable-text" style="letter-spacing: 0.03em">show more</span></div>
        <div class="venue-contactinfo-desktop">
          <img src="call.svg" class="venue-icon"></img>
          +358 44 323 5559
        </div>
      </div>
  </div>
  <div>
  <div class="title1 comparable-parameter-tablet" style="font-size: 16px">
    24.90€/h (arkisin 7-18)
    <img src="down-arrow.svg" class="venue-arrow-icon"></img>
  </div>
  <div class="title1 comparable-parameter-tablet" style="font-size: 16px">
    Asiakasarviot 89.9
    <img src="down-arrow.svg" class="venue-arrow-icon"></img>
  </div>
    <div class="title1 comparable-parameter-tablet" style="font-size: 16px">
      Muut palvelut
      <img src="down-arrow.svg" class="venue-arrow-icon"></img>
    </div>
    <div class="title1 comparable-parameter-tablet" style="font-size: 16px">
      Yhteystiedot
      <img src="down-arrow.svg" class="venue-arrow-icon"></img>
    </div>
  </div>
  <div>
    <div class="title1-green" style="float: left; margin-top: 20px">
      <img src="edit.svg" style="height: 15px"></img>
      Write a review
    </div>
  </div>
</div>

<div class="list-item-tablet" style="margin-top: 30px; padding-bottom: 260px;">
  <div style="float:left">
      <div class="venue-image-tablet"></div>
      <div class="venue-info-with-image-tablet">
        <div class="title2">Venue List Item</div>
        <div class="body-text-regular" style="padding: 7px 0px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent congue augue dolor, sit amet condimentum nisl condimentum sit amet.
          Pellentesque a iaculis quam, vitae lacinia diam. Ut ac maximus eros. Mauris dui ligula,
          auctor non mi at, lobortis euismod nibh. Fusce dui ex, vulputate sit amet aliquam in,
          sollicitudin eu diam. Integer pretium sed.</div>
          <div class="venue-contactinfo-desktop">
            <img src="call.svg" class="venue-icon"></img>
            +358 44 323 5559
          </div>
        </div>
    </div>
    <div>
      <div class="title1 comparable-parameter-tablet" style="font-size: 16px">
        24.90€/h (arkisin 7-18)
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
      <div class="title1 comparable-parameter-tablet" style="font-size: 16px">
        Asiakasarviot 89.9
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
        <div class="title1 comparable-parameter-tablet" style="font-size: 16px">
          Muut palvelut
          <img src="down-arrow.svg" class="venue-arrow-icon"></img>
        </div>
        <div class="title1 comparable-parameter-tablet" style="font-size: 16px">
          Yhteystiedot
          <img src="down-arrow.svg" class="venue-arrow-icon"></img>
        </div>
    </div>
  <div>
    <div class="title1-green" style="float: left; margin-top: 20px">
      <img src="edit.svg" style="height: 15px"></img>
      Write a review
    </div>
  </div>
</div>
