<div>
  <div class="typography typography-header headline">Headline</div>
  <div class="typography typography-description">Main headline</div>
  <div class="typography typography-parameters">36px / #FF5400</div>
</div>

<div>
 <div class="typography typography-header title1">Title 1</div>
 <div class="typography typography-description">Used in the numerical values in the venue list component.</div>
 <div class="typography typography-parameters">24px / #767676</div>
</div>

<div>
 <div class="typography typography-header title2">Title 2</div>
 <div class="typography typography-description">Used in the name of the venues.</div>
 <div class="typography typography-parameters">18px / #404241</div>
</div>

<div>
 <div class="typography typography-header body-text-regular">Body text regular</div>
 <div class="typography typography-description">Used in venue descriptions.</div>
 <div class="typography typography-parameters">16px / #404241</div>
</div>

<div>
 <div class="typography typography-header body-text-small">Body text small</div>
 <div class="typography typography-description">Used in additional info. For example in venue's contact info.</div>
 <div class="typography typography-parameters">14px / #404241</div>
</div>

<div>
 <div class="typography typography-header clickable-text">Clickable text</div>
 <div class="typography typography-description">Used in clickable secondary texts that are not button. For example 'Show more..'.</div>
 <div class="typography typography-parameters">16px / #007F6C</div>
</div>

<div>
 <div class="typography typography-header clickable-primary-link">Clickable primary link</div>
 <div class="typography typography-description">Used in clickable primary links that are not buttons. For example in links in header.</div>
 <div class="typography typography-parameters">18px / #CC4300</div>
</div>

<div>
 <div class="typography typography-header clickable-secondary-link">Clickable secondary link</div>
 <div class="typography typography-description">Used in clickable secondary links that are not button.</div>
 <div class="typography typography-parameters">18px / #007F6C</div>
</div>
