<div>
  <div class="button-row button-space">
    <button class="button primary-button">Book a time</button>
  </div>
  <div class="button-row button-space">
    <button class="button primary-button-disabled">Disabled</button>
  </div>
  <div class="button-row button-description">CTA / Primary button</div>
  <div class="button-row button-parameters">#FF5400 / #FF7633</div>
</div>

<div>
  <div class="button-row button-space">
    <button class="button secondary-button">Write a review</button>
  </div>
  <div class="button-row button-space">
    <button class="button secondary-button-disabled">Disabled</button>
  </div>
  <div class="button-row button-description">Secondary button</div>
  <div class="button-row button-parameters">#00C3A5 / #00E5C2</div>
</div>

<div>
  <div class="button-row button-space">
    <button class="button tertiary-button">Map</button>
  </div>
  <div class="button-row button-space">
    <button class="button tertiary-button-disabled">Disabled</button>
  </div>
  <div class="button-row button-description">Tertiary button</div>
  <div class="button-row button-parameters">#CC4300</div>
</div>

<div>
  <div class="button-row button-space">
    <button class="button quarternary-button">Next</button>
  </div>
  <div class="button-row button-space">
    <button class="button quarternary-button-disabled">Disabled</button>
  </div>
  <div class="button-row button-description">Quarternary button</div>
  <div class="button-row button-parameters">#007F6C</div>
</div>
