<table class="list-item-desktop">
  <tr>
    <th class="first-column">
      <div class="venue-title-desktop">Med group Hyvinkää</div>
      <div class="venue-description-desktop">Torikadun Hammaslääkärikeskus tarjoaa monipuolisia hammaslääkäripalveluita perushammashoidosta protetiikkaan ja suukirurgiaan.</div>
      <div class="venue-address-desktop">
        <i class="fa fa-map-marker" style="color: black" aria-hidden="true"></i>
        Postikatu 4, 00340 Hyvinkää
      </div>
      <div class="venue-openhours-desktop">Ma-pe 8-16, la 10-14, su suljettu</div>
      <div class="venue-contactinfo-desktop">+358 42 123 4567</div>
    </th>
    <th class="second-column">
      <div class="comparable-value-desktop">21</div>
    </th>
    <th class="second-column">
      <div class="comparable-value-desktop">89</div>
    </th>
    <th class="second-column">
      <div class="comparable-value-desktop">98.7</div>
    </th>
    <th class="fourth-column">
      <button class="choose-venue-button-desktop">Valitse</button>
    </th>
  </tr>
</table>

<table class="list-item-desktop">
  <tr>
    <th class="first-column">
      <div class="venue-title-desktop">Med group Hyvinkää</div>
      <div class="venue-description-desktop-with-spacing">Torikadun Hammaslääkärikeskus tarjoaa monipuolisia hammaslääkäripalveluita perushammashoidosta protetiikkaan ja suukirurgiaan.</div>
      <div class="venue-contactinfo-desktop">
        <img src="location.svg" class="venue-icon"></img>
        Postikatu 4, 00340 Hyvinkää
      </div>
      <div class="venue-contactinfo-desktop">
        <img src="clock.svg" class="venue-icon"></img>
        Ma-pe 8-16, la 10-14, su suljettu
      </div>
      <div class="venue-contactinfo-desktop">
        <img src="call.svg" class="venue-icon"></img>
        +358 42 123 4567
        <img src="earth.svg" class="venue-icon"></img>
        https://medgroup.com/hyvinkää
      </div>
    </th>
    <th class="second-column">
      <div class="comparable-value-desktop">
        21
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
    </th>
    <th class="second-column">
      <div class="comparable-value-desktop">
        89
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
    </th>
    <th class="second-column">
      <div class="comparable-value-desktop">
        98.7
        <img src="down-arrow.svg" class="venue-arrow-icon"></img>
      </div>
    </th>
    <th class="fourth-column">
      <button class="choose-venue-button-desktop">Valitse</button>
    </th>
  </tr>
</table>
